main{

    header{
        padding-top: 72px;
        padding-bottom: 56px;
    }

}

.grid{
    justify-content: center;
}

h2{
    padding-top: 8px;
    color:var(--base-color-gray600)
}

#weekly{
    background-color: var(--base-color-gray200);
    padding:72px 120px 120px 144px;

    &>div{
        grid-template-columns: repeat(3,330px);
    }

    figure{
        position: relative;
        .content-tag2{
            position: absolute;
            top: 8px;
            left: 8px;
        }
        img{
            width: 306px;
            height: 156px;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}

#service{
    background-color: var(--base-color-gray100);
    padding:88px 120px 120px 120px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;

    header{
        grid-column: 1 / -1; /* Faz o header ocupar toda a largura da grid */
        text-align: center;
    }
    div{
        display: grid; /* Define o contêiner interno como grid */
        grid-template-columns: repeat(3, 1fr); /* Mantém 3 colunas fixas */
        gap: 24px;
    }
        figure{
            position: relative;
            margin: 0;

            .content-tag3{
                position: absolute;
            }
            img{
                padding: 20px;
                display: block;
                margin: 0 auto;
            }
        }
        figcaption{
            text-align: left;
            padding-block-start: 12px;
            padding-inline-start: 12px;

        }
}

#contact{
    background-image: url(/assets/background/Background_Contacts.png);
    background-size: cover;
    padding:128px 120px 200px 120px;

    .name{
        font: var(--subtitle);
        color:var(--main-color-purple)
    }
    
    h3{
        padding-bottom: 48px;
    }

    .content-tag{
        width: 400px;
        border-radius: 8px;
        justify-content: space-between;

        a{
            display: flex;
            align-items: center;
            gap:12px;

        }

        .arrow{
            margin-left: auto;
            width: 20px;
            aspect-ratio: 1/1;
        }
    }

}